@font-face {
  font-family: 'JetBrainsMono';
  font-weight: 400;
  font-style: normal;
  src: url("JetBrainsMono-Regular.woff2") format("woff2"), url("JetBrainsMono-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'JetBrainsMono';
  font-weight: 400;
  font-style: italic;
  src: url("JetBrainsMono-Italic.woff2") format("woff2"), url("JetBrainsMono-Italic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'JetBrainsMono';
  font-weight: 700;
  font-style: normal;
  src: url("JetBrainsMono-Medium.woff2") format("woff2"), url("JetBrainsMono-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'JetBrainsMono';
  font-weight: 900;
  font-style: bold;
  src: url("JetBrainsMono-Bold.woff2") format("woff2"), url("JetBrainsMono-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'JetBrainsMono';
  font-weight: 1000;
  font-style: bolder;
  src: url("JetBrainsMono-ExtraBold.woff2") format("woff2"), url("JetBrainsMono-ExtraBold.woff") format("woff");
  font-display: swap;
}
