html {
  background: red; /* fallback color */
  background: linear-gradient(
    38deg,
    rgba(74, 231, 189, 1) 0%,
    rgba(53, 148, 122, 1) 0%,
    rgba(185, 115, 115, 1) 100%
  );
  background-repeat: "no-repeat";
  background-size: cover;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}

.header {
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-align: right;
  padding: 24px;
}

.header h1 {
  margin-bottom: 0px;
}

.header p {
  margin-top: 8px;
}

.boxContent ul {
  margin: 8px 0;
  padding-left: 16px;
}

.boxContent ul li {
  margin: 8px 0;
}

.yellow {
  color: #f9b233;
}

.pink {
  color: #e5007e;
}

.blue {
  color: #35a8e0;
}

.white {
  color: rgb(245, 245, 245);
}

.linkBox {
  background-color: #454545;
  padding: 8px;
}

a {
  font-weight: 900;
  color: #175879;
  box-shadow: inset 0 -6px 0 #FFDEAB;
  text-decoration: none;
}

.header.mobile {
  position: relative;
}

main.mobile {
  padding-bottom: 48px;
}
