.detailBoxContainer {
  width: 60%;
  margin: 24px auto;
  border: 2px solid #454545;
  background-color: rgba(255,255,255,0.4);
}

.detailBoxContainer h1 {
  margin-top: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 -9px 0 #FFDEAB;
}

.detailBoxTitleContainer {
  text-align: center;
  margin-top: 24px;
}

.detailBoxTitle {
  display: inline-block;
}

.detailBoxContainer ul,
.item p {
  margin-bottom: 0px;
}

.detailBoxFull p {
  margin-bottom: 16px;
}

.detailBoxFull {
  border: 2px solid #454545;
  padding: 24px;
  margin: 24px;
  background-color: #f3f3f3;
}

.halfContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 24px;
}

.item {
  flex: 1 1 auto;
  border: 2px solid #454545;
  padding: 24px;
  background-color: #f3f3f3;
}

.item:first-child {
  margin-right: 12px;
}

.item:last-child {
  margin-left: 12px;
}

.item.cta {
  background-color: #454545;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item.cta a {
  color: #fff;
  margin: 0 auto;
}

.detailBoxContainer.static {
  width: 100%;
  border: none;
  margin: 0 auto;
  padding-bottom: 48px;
}

.detailBoxContainer.static .detailBoxFull {
  padding: 16px;
  color: rgba(0, 0, 0, 0.8);
}

.detailBoxContainer.static .detailBoxFull, .detailBoxContainer.static .halfContainer {
  margin-left: 16px;
  margin-right: 16px;
  border-width: 3px;
}

.detailBoxContainer.static .detailBoxFull, .detailBoxContainer.static .item {
  border-width: 3px;
}

.detailBoxContainer.static .halfContainer .item:first-child {
  margin-right: 0px;
}

.detailBoxContainer.static .halfContainer .item:last-child {
  margin-left: 0px;
  margin-top: 24px;
}
