body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "JetBrainsMono", Courier, monospace;
}

strong {
  font-weight: 900;
  color: rgb(53, 148, 122);
}

main.handle {
  /*border: 0.1px solid #acacac;*/
  border: 3px solid #454545;
  padding: 16px;
  max-width: 480px;
  background-color: rgb(245, 245, 245);
  font-size: 0.75rem;
}

header {
  background-color: #454545;
  color: rgb(245, 245, 245);
  margin: -16px -16px 16px -16px;
  padding: 4px 16px;
}

.boxContent {
  width: 100%;
}

.boxContent p {
  /* overflow-y: scroll;
  max-height: 160px; */
  margin-bottom: 0px;
  color: #454545;
}

.boxContent p::-webkit-scrollbar {
  width: 1em;
}

.boxContent p::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: white;
}

.boxContent p::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.staticBox {
  padding: 0 16px;
  margin-bottom: 16px;
}

.static .boxContent {
  margin: 0px;
  border: 3px solid #454545;
}

.static .boxContent header {
  margin: 0px;
}

.static .boxContent .Collapsible__contentInner,
.static .boxContent p {
  padding: 8px;
}

.static .boxContent a {
  margin-left: 8px;
}

.static .boxContent p {
  color: rgba(0, 0, 0, 0.8);
}

.static .boxContent a, .static .boxContent strong {
  color: rgb(245, 245, 245);
}
